<!-- learner_template/view_scheduled_classes.html -->

{% extends "main_app/base.html" %}
{% block content %}
<div class="container">
    <h2>Scheduled Classes for {{ course.name }}</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Date and Time</th>
                <th>Meeting Link</th>
                <th>Description</th>
                <th>Duration</th>
            </tr>
        </thead>
        <tbody>
            {% for class_schedule in scheduled_classes %}
            <tr>
                <td>{{ class_schedule.start_datetime }}</td>
                <td><a href="{{ class_schedule.meeting_link }}" target="_blank">{{ class_schedule.meeting_link }}</a></td>
                <td>{{ class_schedule.description }}</td>
                <td>{{ class_schedule.duration }} hours</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">No scheduled classes for this course.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
