{% extends 'base.html' %}
{% load static %}

   {% block title %}
    login
   {% endblock title %}
 {% block body %}
 
  
  <div class="content">
    <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-8">
              <div class="mb-4">
              <h3>Reset Your Password </h3>
            </div>
              <form action="#" method="post">
                {% csrf_token %}
                <div class="form-group ">
                    <label for="email">Enter yout Email</label>
                    <input type="text" class="form-control" name="email"  id="email">
                    <div class="error-message"></div>
                  </div>
                
                
  <div>
    <a href="/register"> Sign Up</a>
  </div>
  <input type="submit" value="Send" class="btn text-white btn-block btn-primary"><br>
              
              </div>
              
              </form>
            </div>
          </div>
          
        </div>
        
      </div>
    </div>
  </div>

  
    <script src="{%static 'assets/js/loginjs/jquery-3.3.1.min.js'%}"></script>
    <script src="{%static 'assets/js/loginjs/popper.min.js'%}"></script>
    <script src="{%static 'assets/js/loginjs/bootstrap.min.js'%}"></script>
    <script src="{%static 'assets/js/loginjs/main.js'%}"></script>
    <script src="{%static 'assets/js/loginjs/login.js'%}"></script>

    {% endblock body %}
  </body>
