{% load static %}
{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Home page</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png'%}" rel="icon">
  <link href="{% static ''%}assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css'%}" rel="stylesheet">
  <link href="{% static 'assets/vendor/aos/aos.css'%}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css'%}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css'%}" rel="stylesheet">


   <link href="{% static 'assets/css/main.css'%}" rel="stylesheet">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



  <!--Template Main CSS File -->

  <!--notification -->
  
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    function updateNotifications() {
        $.ajax({
            url: '{% url "get_notifications" %}',
            dataType: 'json',
            success: function(data) {
                var notificationPanel = $('#notification-panel');
                var notificationBadge = $('#notification-badge');

                notificationPanel.empty();
                var unreadCount = 0; // Count the number of unread notifications

                data.forEach(function(notification) {
                    var notificationItem = $('<li><a href="/scheduled-classes/' + '"></a></li>');
                    var notificationContent = '<span class="notification-content" style="color: black;">' + notification.content + '</span>';
                    var notificationTimestamp = '<span class="notification-timestamp">' + notification.timestamp + '</span>';
                    notificationItem.find('a').append(notificationContent + notificationTimestamp);

                    if (!notification.is_read) {
                        // Check if the notification is unread
                        notificationItem.addClass('unread');
                        unreadCount++; // Increment the unread count
                    }

                    notificationPanel.append(notificationItem);
                    notificationPanel.append('<hr>'); // Add a horizontal line between notifications
                });

                var count = data.length;
                notificationBadge.text(unreadCount); // Update the notification badge with the count of unread notifications

                if (count === 0) {
                  notificationPanel.hide();
                  noNotificationsMessage.show();
              } else {
                  notificationPanel.show();
                  noNotificationsMessage.hide();
              }
          }
        });
    }

    // Periodically update notifications (e.g., every 30 seconds)
    setInterval(updateNotifications, 30000);

    // Initial update when the page loads
    updateNotifications();
</script>
<script>
  // Toggle unread notifications when the notification icon is clicked
  

  function markNotificationsAsRead() {
    console.log('markNotificationsAsRead function is running.');

    $.ajax({
      url: {% url "mark_notifications_as_read" %},
      type: 'POST',
      dataType: 'json',
      success: function(data) {
        if (data.success) {
          updateNotifications(); // Refresh the notifications panel
        }
      },
      error: function(xhr, textStatus, errorThrown) {
        console.log("Error:", errorThrown);
      }
    });
  }

  function updateNotifications() {
    console.log('updateNotifications function is running.');

    $.ajax({
      url: '{% url "get_notifications" %}',
      dataType: 'json',
      success: function(data) {
        var notificationPanel = $('#notification-panel');
        var notificationBadge = $('#notification-badge');
        var unreadCount = 0; // Count the number of unread notifications

        notificationPanel.empty();

        data.forEach(function(notification) {
          var notificationItem = $('<li><a href="/scheduled-classes/' + '"></a></li>');
          var notificationContent = '<span class="notification-content"  style="color: black;">' + notification.content + '</span>';
          var notificationTimestamp = '<span class="notification-timestamp">' + notification.timestamp + '</span>';
          notificationItem.find('a').append(notificationContent + notificationTimestamp);

          if (!notification.is_read) {
            notificationItem.addClass('unread');
            unreadCount++; // Increment the unread count
          }

          notificationPanel.append(notificationItem);
          notificationPanel.append('<hr>'); // Add a horizontal line between notifications
        });

        var count = data.length;
        notificationBadge.text(unreadCount); // Update the notification badge with the count of unread notifications

        if (count === 0) {
          notificationPanel.hide();
          noNotificationsMessage.show();
      } else {
          notificationPanel.show();
          noNotificationsMessage.hide();
      }
  }
    });
  }

  // Periodically update notifications (e.g., every 30 seconds)
  setInterval(updateNotifications, 30000);

  // Initial update when the page loads
  updateNotifications();
  $(document).ready(function(){
    $('#notification-icon').click(function() {
      console.log('Notification icon clicked. Calling markNotificationsAsRead.');
  
      markNotificationsAsRead();
    });
  })
</script>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
   $(document).ready(function(){

       $('#search-input').keyup(function(){
           var query = $(this).val();
           if (query.length > 1) {
               $.ajax({
                   url: '{% url "search_results" %}',
                   method: 'GET',
                   data: {'query': query},
                   success: function(response){
                       $('#search-results').html(response);
                   },
                   error: function(xhr, errmsg, err){
                       console.log(xhr.status + ": " + xhr.responseText);
                   }
               });
           } else {
               $('#search-results').html('');
           }
       });
   });
</script>


 <style>
  .search-container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: auto;
}

#search-input {
    margin-bottom: 10px;
    width: 280px;
}

#search-results {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-top: none;
    z-index: 1000;
    color: #000000;
}

#search-results.show {
    display: block;
}




</style> 







    <!--........ notification ..........-->

  
  
  
</head>
         

<body>

  <!-- ======= Header ======= -->
  

  <header id="header" class="header d-flex align-items-center">
    
    

    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
      <a href="{% url 'index' %}" class="logo d-flex align-items-center">
        
        
        <h1>MusicLearn Hub</h1>
        
      </a>
      
      <div class="search-container">
        <input id="search-input" type="text" class="form-control" placeholder="Search here..." aria-label="Search" aria-describedby="button-search">

            <div id="search-results">
            </div>

        
    </div>

      <nav id="navbar" class="navbar">
        <ul>
          
            
        
        
         
         
          <li><a href="#hero">Home</a></li>
          <li><a href="#about">About</a></li>
         
          <li ><a href="{% url 'view_catgories' %}"><span>Courses</span> </a></li>
          {% comment %} <li><a href="blog.html">Blog</a></li> {% endcomment %}
        {% if user.is_authenticated %}
            {% if user.userprofile.isTutor == 0 %}
                <li><a href="{% url 'mylearning' %}">My Learning</a></li>
            {% endif %}
        {% endif %}


        
            <!--........ notification ..........-->
            {% if user.is_authenticated %}
            <li>
              
              <a  id="notification-icon"  style="padding-right: 0; padding-left: 0; border-bottom: 1px solid; display: inline-block; "  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-thin fa-bell" id="custom-notification-icon" style="color: #fff;"></i>
                  <div id="notification-badge-container">
                      <sup class="badge" id="notification-badge" style="color: red;" >0</sup>
                  </div>
              </a>
              
              <ul class="dropdown-menu" id="notification-panel" style="max-height: 300px; overflow-y: auto; ">
                <p id="no-notifications-message" style="display: none; color: #000000;">No notifications</p>

                  <!-- Customize the appearance of notifications here -->
              </ul>
             
          </li>
          {% endif %}
          <li>
            

            <a href=" {% url 'wishlist'  %}" >
              <span id="wishlistCount" style="position: absolute; top: -10px; right: -10px; background-color: red; color: white; font-size: 10px; padding: 2px 5px; border-radius: 50%; display: none;"></span>

                <svg xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 24 24" width="24" height="24">
                    <path d="M0 0h24v24H0z" fill="none"/>
                    <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
                </svg>
                <sup class="badge" id="wishlist-badge" style="color: red; border-radius: 50%; position: absolute; top: -12px; right: -10px;">{{ wishlist_count }}</sup>

            </a>
           </li>
           <li>
            <a href="{% url 'metronome' %}">Metronome</a>
            </li>
            <li>
              <a href="{% url 'paino_keys' %}">Exercise</a>
              </li>
    <style>
      /* Customize the width of the notification panel */
  
      #notification-panel {
          max-width: 400px; /* Adjust the width as needed */
      }
  
      /* Customize the appearance of notifications */
    
      #notification-badge-container {
        position: absolute;
        top: -10px; /* Adjust the top position as needed */
        left: 20px; /* Adjust the left position as needed */
    }

    /* Resize the icon */
    #custom-notification-icon {
        font-size: 20px; /* Adjust the font size to resize the icon */
    }

    /* Customize the appearance of the badge */
  
  </style>
      
      
          <!--........ notification ..........-->

      

      

          {% comment %} <li><a href="#faculty">Faculty</a></li>
          <li><a href="#resource">Resource</a></li>   {% endcomment %}
         
           {% if user.is_authenticated %}
           <li ><a style="border-bottom: 1px solid rgba(0, 0, 0, 0.1); display: inline-block;" href="homecontent" ><i class="fas fa-user" style="font-size: large;" title="Welcome, {{ user.username }}"></i></a></li>
           <li><a href="{% url 'logout' %}">logout</a></li>
          {% else %}
         
          <li><a href="{% url 'login' %}">Login</a></li> 
          {% endif%}
        </ul> 
      </nav><!-- .navbar -->
      {% for message in messages %}
      <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
        <strong></strong> {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endfor %}
      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>
  </header><!-- End Header -->
  <!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero" style= "height: 70vh;">
    <div class="container position-relative">
      <div class="row gy-5" data-aos="fade-in">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start">
          <h2>The Complete Music Education
             <span></span></h2>
          <p>Setting Gold Standards since 2009</p>
          <div class="d-flex justify-content-center justify-content-lg-start">
            <a href="/login" class="btn-get-started">Get Started</a>
            <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
          </div>
        </div>
        
      </div>
    </div>


          <!--End Icon Box -->

        </div>
      </div>
    </div>

    </div>
  </section>
  <!-- End Hero Section -->

  <main id="main">

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>About Us</h2>
          <p>At MusicLearn Hub, we endeavor to be the world’s most technologically advanced and credible platform for e-learning. We work towards creating a user-friendly live learning platform for hobbies.</p>
        </div>

        <div class="row gy-4">
          <div class="col-lg-6">
            <h3>Advanced and credible platform for e-learning</h3>
            <img src="{%static 'assets/img/about.jpg'%}" class="img-fluid rounded-4 mb-4" alt="">
            <p>We intend to fill the gap that exists for students in finding experienced and knowledgeable teachers. The ipassio platform enables teachers with proficient technology support for course and student management- ensuring a hassle-free teaching experience.</p>
          </div>
          <div class="col-lg-6">
            <div class="content ps-0 ps-lg-5">
              <p class="fst-italic">
                Every aspect of a teacher's journey needed to provide high-quality training to students is taken care of. This includes student enrolment, course structure, class strength, scheduling, rescheduling, fee collection, fee disbursal, and several others. ipassio’s technology also provides teachers with a robust repository for all their course material. The repository makes the course material accessible, as and when required.
              </p>
              <ul>
                <li><i class="bi bi-check-circle-fill"></i> Students have the advantage of learning exactly what they want from the best in the field</li>
                <li><i class="bi bi-check-circle-fill"></i> Every aspect of a teacher's journey needed to provide high-quality training.</li>
              </ul>
              <p>
                Sustained guidance from teachers after classes ensures students are not consumed by their questions. Instead, students find solutions to their queries within hours. Students through discussion forums, establish productive peer to peer relationships. Guided and monitored by the teacher, the discussion forums are a healthy learning environment. Regular assessment and feedback by the teacher guarantee that every effort of students is accounted for.
              </p>

              <div class="position-relative mt-4">
                <img src="{%static 'assets/img/about-2.jpg'%}" class="img-fluid rounded-4" alt="">
                <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox play-btn"></a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->


    <section id="team" class="team">
        <div class="container" data-aos="fade-up">
            <h1>Top Rated Courses</h1>
            <div class="course-slider swiper-container">
                <div class="swiper-wrapper">
                    <!-- Courses will be dynamically added here -->
                    {% for course, star_rating in average_ratings %}
                    <div class="swiper-slide">
                        <div class="course-card">
                            <div class="card mb-4">
                                <img class="card-img-top" style="height: 180px;" src="{% if course.image %}{{ course.image.url }}{% else %}{% static 'placeholder.png' %}{% endif %}" alt="Course Image">
                                <div class="card-body">
                                    <h5 class="card-title">{{ course.name }}</h5>
                                    <p class="card-text"><strong>Tutor:</strong> {{ course.tutor.first_name }} {{ course.tutor.last_name }}</p>
                                    <p class="card-text"><strong>Years of Experience:</strong> {{ course.years_of_experience }}</p>
                                    <p class="course-description card-text">
                                        <strong>Description:</strong>
                                        {% if course.description|length > 50 %}
                                        {{ course.description|truncatechars:50 }}...
                                        {% else %}
                                        {{ course.description }}
                                        {% endif %}
                                    </p>
                                    <p class="card-text"><strong>Price:</strong> {{ course.amount }}</p>
                                    <p>Rating: <span style="color: red;">{{ star_rating }}/5 </span> </p>
                                </div>
                                <div class="card-footer">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="text-center">
                                            {% if not user.is_superuser %}
                                            {% if user.userprofile.isTutor != 2 %}
                                            {% if user not in course.enrolled_learners.all %}
                                            <!-- Add button or link for enrollment -->
                                            {% endif %}
                                            {% endif %}
                                            {% endif %}
                                        </div>
                                        <div class="text-center">
                                            <!-- Link to view details -->
                                            <a href="{% url 'tutor_profile' course.id %}" class="btn btn-info">See Details</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <!-- Navigation buttons -->
                <div class="swiper-button-next next-btn"></div>
                <div class="swiper-button-prev prev-btn"></div>
            </div>
        </div>
    </section>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>



 <script>
  document.addEventListener('DOMContentLoaded', function () {
    var swiper = new Swiper('.course-slider', {
        slidesPerView: 4,
        spaceBetween: 30,
        loop: true,
        navigation: {
            nextEl: '.next-btn',
            prevEl: '.prev-btn',
        },
        breakpoints: {
            768: {
                slidesPerView: 2,
                spaceBetween: 10,
            },
            992: {
                slidesPerView: 3,
                spaceBetween: 5,
            },
        },
    });
});





  </script>
<style>

  /* Styles for swiper container */
.course-slider {
    position: relative;
    overflow: hidden;
}



/* Styles for navigation buttons */
.next-btn,
.prev-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 10;
    
    
}




  /* Styling for the recommended courses section */
.recommended-courses {
    margin-top: 20px;
}
/* Style for dots (...) after truncated text */
.course-description {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


/* Styling for each course card */
.course-card {
    margin-bottom: 20px;
    width: 250px;
    height: 600px;
    margin-left: 80px;
    
}

/* Decrease width of course card for small and medium devices */
@media (max-width: 768px) {
    .course-card {
        width: 100%;
    }
}

/* Decrease height of course card */
.card {
    height: 100%;
}

/* Styling for course descriptions */
.course-description {
    margin-bottom: 10px;
}

  </style>  
    


    <!-- ======= Stats Counter Section ======= -->
    <section id="stats-counter" class="stats-counter">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4 align-items-center">

          <div class="col-lg-6">
            <img src="{%static 'assets/img/stats-img.svg'%}" alt="" class="img-fluid">
          </div>

          <div class="col-lg-6">

            <div class="stats-item d-flex align-items-center">
              <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Happy Clients</strong> </p>
            </div><!-- End Stats Item -->

            <div class="stats-item d-flex align-items-center">
              <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Courses</strong> </p>
            </div><!-- End Stats Item -->

            <div class="stats-item d-flex align-items-center">
              <span data-purecounter-start="0" data-purecounter-end="453" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Hours Of Support</strong></p>
            </div><!-- End Stats Item -->

          </div>

        </div>

      </div>
    </section><!-- End Stats Counter Section -->

    <!-- ======= Call To Action Section ======= -->
   
    <!-- ======= Our courses Section ======= -->
    <section id="services" class="services sections-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>courses</h2>
          <p>SEE ALL OUR ONLINE MUSIC COURSES AND PICK ONE OR MORE THAT INTERESTS YOU THE MOST</p>
        </div>

        <section class="Program-Couses-main">
          <div class="container">
              <div class="row">
                  {% for categorie in categories %}
                  <div class="col-lg-4 mb-4">
                      <div class="box">
                          <div class="Program-Couses-main-images">
                              <img src="{{ categorie.image.url }}" alt="{{ categorie.name }}" width="300" height="300">
                              <script>
                                  try {
                                      console.log("{{ categorie.image.url }}");
                                  } catch (e) {
                                      console.error("Error displaying image:", e);
                                  }
                              </script>
                          </div>
                          <h3>{{ categorie.name }}</h3>
                          <div class="main-class-text">
                              <h3>{{ categorie.title }}</h3>
                              <p>{{ categorie.description|truncatechars:150 }}</p>
                              <a type="button" href="/courses/{{ categorie.name }}" class="btn btn-primary" data-target="#enrollmentModal">
                                  Read More
                              </a>
                          </div>
                      </div>
                  </div>
                  {% endfor %}
              </div>
          </div>
      </section>
      <style>
        .pagination {
            margin-top: 20px;
            text-align: center;
        }
    
        .step-links {
            display: inline-block;
            margin-bottom: 10px;
        }
    
        .step-links a {
            padding: 5px 10px;
            margin: 0 5px;
            border: 1px solid #ccc;
            border-radius: 3px;
            text-decoration: none;
            color: #333;
        }
    
        .step-links a:hover {
            background-color: #f0f0f0;
        }
    
        .current-page {
            font-weight: bold;
            padding: 5px 10px;
            margin: 0 5px;
            border: 1px solid #ccc;
            border-radius: 3px;
            background-color: #f0f0f0;
        }
    </style>
    
    <div class="pagination">
        <span class="step-links">
            {% if categories.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ categories.previous_page_number }}">previous</a>
            {% endif %}
            
            <span class="current-page">{{ categories.number }}</span>
            
            {% if categories.has_next %}
                <a href="?page={{ categories.next_page_number }}">next</a>
                <a href="?page={{ categories.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
    
    
    <style>
        .btn-dark-brown  {
          
          background-color: #3d2e28; /* Dark brown color */
          border-color: #3d2e28; /* Dark brown color for border */
      }
      
      .btn-dark-brown:hover {
          background-color: #2c1e19; /* Darker brown color on hover */
          border-color: #2c1e19; /* Darker brown color for border on hover */
      }
      /* Add styling to the course boxes */
      .hero {
        background-image: url('/static/assets/img/keynote.jpg');
        height: 100%;
        background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      }
      .box {
        border: 2px solid #eaeaea; /* Add a 1px border with a light gray color */
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 5px; /* Add rounded corners */
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Add a subtle shadow effect */
        background-color: #f9f9f9; /* Set a light background color */
        text-align: center; /* Center-align all content */
      }
    
      /* Style the course title */
      .box h3 {
        font-size: 22px;
        color: #000000; /* Text color */
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        margin: 5px;
      }
    
      /* Style the course description */
      .box p {
        font-size: 13px;
        color: #666; /* Text color */
      }
    
      /* Style the "Read More" button */
      .box .btn-primary {
        background-color: #2f2f2f; /* Blue background color */
        color: #fff; /* Text color */
        border: none; /* Remove button border */
        border-radius: 5px; /* Add rounded corners */
        padding: 10px 20px;
        text-decoration: none; /* Remove underlines from links */
        display: inline-block;
        transition: background-color 0.3s ease; /* Smooth hover effect */
      }
    
      .box .btn-primary:hover {
        background-color: #0056b3; /* Darker blue on hover */
      }
    </style>
    
  </section>
    <!-- End Our Services Section -->



       
    <!-- ======= Our Team Section ======= -->
    {% comment %} <section id="team" class="team">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Our Team</h2>
          <p>Nulla dolorum nulla nesciunt rerum facere sed ut inventore quam porro nihil id ratione ea sunt quis dolorem dolore earum</p>
        </div>

        <div class="row gy-4">

          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <img src="{%static 'assets/img/team/team-1.jpg'%}" class="img-fluid" alt="">
              <h4>Walter White</h4>
              <span>Web Development</span>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="200">
            <div class="member">
              <img src="{%static 'assets/img/team/team-2.jpg'%}" class="img-fluid" alt="">
              <h4>Sarah Jhinson</h4>
              <span>Marketing</span>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="300">
            <div class="member">
              <img src="{%static 'assets/img/team/team-3.jpg'%}" class="img-fluid" alt="">
              <h4>William Anderson</h4>
              <span>Content</span>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="400">
            <div class="member">
              <img src="{%static 'assets/img/team/team-4.jpg'%}" class="img-fluid" alt="">
              <h4>Amanda Jepson</h4>
              <span>Accountant</span>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div><!-- End Team Member -->

        </div>

      </div>
    </section> {% endcomment %}
    <!-- End Our Team Section -->

   

    <!-- ======= Frequently Asked Questions Section ======= -->
    {% comment %} <section id="faq" class="faq">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4">

          <div class="col-lg-4">
            <div class="content px-xl-5">
              <h3>Frequently Asked <strong>Questions</strong></h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit
              </p>
            </div>
          </div>

          <div class="col-lg-8">

            <div class="accordion accordion-flush" id="faqlist" data-aos="fade-up" data-aos-delay="100">

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-1">
                    <span class="num">1.</span>
                    Non consectetur a erat nam at lectus urna duis?
                  </button>
                </h3>
                <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non curabitur gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.
                  </div>
                </div>
              </div><!-- # Faq item-->

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-2">
                    <span class="num">2.</span>
                    Feugiat scelerisque varius morbi enim nunc faucibus a pellentesque?
                  </button>
                </h3>
                <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
                  </div>
                </div>
              </div><!-- # Faq item-->

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-3">
                    <span class="num">3.</span>
                    Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi?
                  </button>
                </h3>
                <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu facilisis sed odio morbi quis
                  </div>
                </div>
              </div><!-- # Faq item-->

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-4">
                    <span class="num">4.</span>
                    Ac odio tempor orci dapibus. Aliquam eleifend mi in nulla?
                  </button>
                </h3>
                <div id="faq-content-4" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
                  </div>
                </div>
              </div><!-- # Faq item-->

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-5">
                    <span class="num">5.</span>
                    Tempus quam pellentesque nec nam aliquam sem et tortor consequat?
                  </button>
                </h3>
                <div id="faq-content-5" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in est ante in. Nunc vel risus commodo viverra maecenas accumsan. Sit amet nisl suscipit adipiscing bibendum est. Purus gravida quis blandit turpis cursus in
                  </div>
                </div>
              </div><!-- # Faq item-->

            </div>

          </div>
        </div>

      </div>
    </section> {% endcomment %}
    <!-- End Frequently Asked Questions Section -->

   

    

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-info">
          <a href="index.html" class="logo d-flex align-items-center">
            <span>MusciLearn Hub</span>
          </a>
          <p>At MusciLearn Hub, we endeavor to be the world’s most technologically advanced and credible platform for e-learning. We work towards creating a user-friendly live learning platform for hobbies.</p>
          <div class="social-links d-flex mt-4">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Terms of service</a></li>
            <li><a href="#">Privacy policy</a></li>
          </ul>
        </div>

        {% comment %} <div class="col-lg-2 col-6 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><a href="#">Web Design</a></li>
            <li><a href="#">Web Development</a></li>
            <li><a href="#">Product Management</a></li>
            <li><a href="#">Marketing</a></li>
            <li><a href="#">Graphic Design</a></li>
          </ul>
        </div> {% endcomment %}

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Contact Us</h4>
          <p>
            A108 Adam Street <br>
            New York, NY 535022<br>
            United States <br><br>
            <strong>Phone:</strong> +1 5589 55488 55<br>
            <strong>Email:</strong> info@example.com<br>
          </p>

        </div>

      </div>
    </div>

   
    </div>

  </footer><!-- End Footer -->
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{%static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
  <script src="{%static 'assets/vendor/aos/aos.js'%}"></script>
  <script src="{%static 'assets/vendor/glightbox/js/glightbox.min.js'%}"></script>
  <script src="{%static 'assets/vendor/purecounter/purecounter_vanilla.js'%}"></script>
  <script src="{%static 'assets/vendor/swiper/swiper-bundle.min.js'%}"></script>
  <script src="{%static 'assets/vendor/isotope-layout/isotope.pkgd.min.js'%}"></script>
  <script src="{%static 'assets/vendor/php-email-form/validate.js'%}"></script>

  <!-- Template Main JS File -->
  <script src="{%static 'assets/js/main.js'%}"></script>





  
</body>

</html>