{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}

   {% block title %}
    login
   {% endblock title %}
 {% block body %}
 
  
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-md-6 order-md-2">
          <img src="{% static 'assets/img/index1.png' %}" alt="Image" class="img-fluid">
        </div>
        <div class="col-md-6 contents">
          <div class="row justify-content-center">
            <div class="col-md-8">
              <div class="mb-4">
              <h3>Sign In to <strong>MusciLearn Hub</strong></h3>
            </div>
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                <strong></strong> {{ message.message }} 
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              {% endfor %}
              <form action="#" method="post">
                {% csrf_token %}
                <div class="form-group first">
                  <label for="username">Username</label>
                  <input type="text" class="form-control" id="username" name="username">
                  <div class="error-message"></div>
                </div>
                
                <div class="form-group last mb-4">
                  <label for="password">Password</label>
                  <input type="password" class="form-control" id="password" name="password">
                  <div class="error-message"></div>
                </div>
                <div class="input-group mb-3">
                  <div class="g-recaptcha" data-sitekey='6LeZ068nAAAAABep7CDUw-elMEnLjSAF07KjWLBT'></div>
              </div>
  
                <input type="submit" value="Log In" onclick="check()" class="btn text-white btn-block btn-primary"><br>
                <div>
                  <a href="/forget">Forget Password</a>
                </div>
  <div>
    <a href="/register">Don't have an account? Sign Up</a>
  </div>
                <div class="form-container">  
                  <!-- ... other form elements ... -->
                  <span class="d-block text-left my-4 text-muted">or sign in with</span>
                  
                 
              </div>
              
              {% comment %} <script>
                // Check if there is an error message in the session
                const errorMessage = "{{ messages.get_messages }}";
                if (errorMessage) {
                    // Display an alert box with the error message
                    alert(errorMessage);
                }
            </script> {% endcomment %}
              </div>
              
              </form>
              <div class="container">
                <button class="login-button google" id="google-login" onclick="window.location.href='{% provider_login_url 'google' %}?next=/'">
                  <i class="fab fa-google"></i>
                  <span>Login with Google</span>
                </button>
              </div>
              
            </div>
          </div>
          
        </div>
        
      </div>
    </div>
  </div>

  
    <script src="{%static 'assets/js/loginjs/jquery-3.3.1.min.js'%}"></script>
    <script src="{%static 'assets/js/loginjs/popper.min.js'%}"></script>
    <script src="{%static 'assets/js/loginjs/bootstrap.min.js'%}"></script>
    <script src="{%static 'assets/js/loginjs/main.js'%}"></script>
    <script src="{%static 'assets/js/loginjs/login.js'%}"></script>

    {% endblock body %}
  </body>
