{% extends 'base.html' %}
{% load static %}
  {% block title %}
  Registration
  {% endblock title %}
    

  <body>
    
    {% block body %}
    
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-md-6 order-md-2">
  
          <img src="{% static 'assets/img/index1.png' %}" alt="Image" class="img-fluid">
        </div>
        <div class="col-md-6 contents">
          <div class="row justify-content-center">
            <div class="col-md-8">
              <div class="mb-4">
              <h3> <strong>Create new account</strong></h3>
            </div>

            <form action="#" method="post" name="form">
              {% csrf_token %}
              <div class="form-group ">
                <label for="full_name">Full Name</label>
                <input type="text" class="form-control" name="name" id="full_name">
                <div class="error-message"></div>
              </div>
            
              <div class="form-group ">
                <label for="email">Email</label>
                <input type="text" class="form-control" name="email"  id="email">
                <div class="error-message"></div>
              </div>
              {% comment %} <div class="form-group">
                <label for="phone">Phone Number</label>
                <input type="text" class="form-control" name="phn"  id="phone">
                <div class="error-message"></div>
              </div> {% endcomment %}
              
             
              <div class="form-group last mb-4">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="pass"  id="password">
                <div class="error-message"></div>
              </div>
              <div class="form-group last mb-4">
                <label for="cnpassword">Confirm Password</label>
                <input type="password" class="form-control" name="cnpass"  id="cnpassword">
                <div class="error-message"></div>
              </div>
              <div class="d-flex mb-5 align-items-center">
                <label class="control control--checkbox mb-0">
                  <span class="caption">Remember me</span>
                  <input type="checkbox" checked="checked" />
                  <div class="control__indicator"></div>
                </label>
              </div>
              <button type="submit" class="btn text-white btn-block btn-primary">Register</button>
           
              <div class="form-container">
                <!-- ... other form elements ... -->
                <a class="d-block text-left my-4 text-muted" href="/login">or Login</a>
                <div class="social-icons">
                  <a href="#" class="social-icon facebook-icon"><i class="fab fa-facebook"></i></a>
                  <a href="#" class="social-icon twitter-icon"><i class="fab fa-twitter"></i></a>
                  <a href="#" class="social-icon google-icon"><i class="fab fa-google"></i></a>
                </div>
              </div>
            </form>
            
            
            </div>
          </div>
          
        </div>
        
      </div>
    </div>
    
  </div>

  
    
    <script src="{%static 'assets/js/loginjs/jquery-3.3.1.min.js'%}"></script>
    <script src="{%static 'assets/js/loginjs/popper.min.js'%}"></script>
    <script src="{%static 'assets/js/loginjs/bootstrap.min.js'%}"></script>
    <script src="{%static 'assets/js/loginjs/main.js'%}"></script>
    <script src="{%static 'assets/js/loginjs/registration.js'%}"></script>


    {% endblock body %}
  </body>
  