
{% extends 'main_app/base.html' %}
{% load static %}
{% block page_title %}{{page_title}}{% endblock page_title %}

{% block content %}

<section class="content">
    <div class="container-fluid">
         {% if messages %}
        <div class="alert alert-success">
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">{{page_title}}</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>SN</th>
                                    <th>course Name</th>
                                    <th>Edit moduels/lessons</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                {% for course in courses %}
                                <tr> 
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ course.name }}</td>
                                    
                                    
                                    <td>
                                        <a href="{% url 'create_assignment' course.id   %}" class="btn btn-primary">Create</a>
                                        
                                    </td>
                                   
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}