{% extends 'main_app/base.html' %}

{% load static %}
{% block page_title %}{{page_title}}{% endblock page_title %}

{% block content %}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">{{page_title}}</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>SN</th>
                                    <th>Course Name</th>
                                    <th>Action</th>
                                    <th>Add resources</th>
                                  
                                </tr>
                            </thead>
                            <tbody>
                                {% for course in enrolled_courses %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td> {{ course.name }} </td>
                                    <td> <li><a href="{% url 'enrolled_course_details' course.id %}">view Lists</a></li></td>
                                    <td> <li><a href="{% url 'add_module_and_lesson_material' course.id %}">upload</a></li></td>
                                    
                                </tr>
                                {% endfor %}
                            </tbody>
                            
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
{% comment %} {% block content %}
  
  <ul>
    {% for course in enrolled_courses %}
      <li><a href="{% url 'enrolled_course_details' course.id %}">{{ course.name }}</a></li>
    {% empty %}
      <li>No enrolled courses found.</li>
    {% endfor %}
  </ul>
{% endblock %} {% endcomment %}