{% extends 'main_app/base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <div class="card shadow p-3 mb-5 bg-white rounded" style="max-width: 600px; margin: 0 auto;">
        <h1 class="card-title">Schedule a Class</h1>
        <div class="card-body">
            <form method="post" class="needs-validation" novalidate>
                {% csrf_token %}
                <div class="form-group">
                    {{ form.start_datetime.label_tag }}
                    {{ form.start_datetime }}
                    {{ form.start_datetime.error }}

                    <div class="invalid-feedback">Please select a valid date and time.</div>
                </div>
                <div class="form-group">
                    {{ form.meeting_link.label_tag }}
                    {{ form.meeting_link }}
                    {{ form.meeting_link.errors }}

                    <div class="invalid-feedback">Please enter a valid meeting link.</div>
                </div>
                <div class="form-group">
                    {{ form.duration.label_tag }}
                    {{ form.duration }}
                    {{ form.duration.errors }}
                    <div class="invalid-feedback">Please enter a valid duration (in hours).</div>
                </div>
                
                </div>
                <div class="form-group">
                    {{ form.description.label_tag }}
                    {{ form.description }}
                    {{ form.errors }}

                </div>
                <button type="submit" class="btn btn-primary">Schedule Class</button>
            </form>
            
        </div>
    </div>
</div>
{% endblock %}
{% block custom_js %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

{% endblock custom_js %}


