{% extends 'main_app/base.html' %}
{% load static %}
{% block page_title %}{{page_title}}{% endblock page_title %}

{% block content %}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">{{page_title}}</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>SN</th>
                                    <th>Full Name</th>
                                    <th>Email</th>
                                    <th>Gender</th>
                                    <th>Course</th>
                                    <th>Resume</th>
                                    <th>Avatar</th>
                                    <th>Edit</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for tutor in all_tutors %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td> {{ tutor.user.first_name }} {{ tutor.user.last_name }}</td>
                                    <td>{{ tutor.user.email }}</td>
                                    <td>{{ tutor.gender }}</td>
                                    <td>{{ tutor.specialist }}</td>  {# Assuming you want to display the specialist field for tutors #}
                                    <td>
                                        {% if tutor.userprofile.profile_pics  %}
                                        <img class="img img-fluid mb-2" height="100" width="100"
                                            src="{{ tutor.userprofile.profile_picsurl }}" alt="{{ tutor.user.first_name }}'s Profile Picture">
                                        {% else %}
                                        No Image
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if tutor.resume %}
                                            <a href="{{ tutor.resume.url }}" target="_blank">View Resume</a>
                                        {% else %}
                                            No resume available
                                        {% endif %}
                                    </td>
                                      <td>
                                        <a href="{% url 'edit_tutor' tutor.id %}" class="btn btn-primary">Edit</a> - 
                                        <a href="{% url 'delete_tutor' tutor.user.id %}" class="btn btn-danger" onclick="return confirm('Are you sure about this ?')">Delete</a> 
                                    </td>  
                                </tr>
                                {% endfor %}
                            </tbody>
                            
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}